
/testResults
testResults/
TestResult.xml
specfailures.html
integrationspecfailures.html
acceptancespecfailures.html
specfailures.xml
integrationspecfailures.xml
acceptancespecfailures.xml
*.log
*.results
*.rdb
*.sass-cache*
node_modules
dist
Gemfile.lock
.DS_Store
